.main{
 font-family: 'Courier New', Courier, monospace;
 font-size: 30px;
 color: #fff;
 height: 100vh;
 display: grid;
 place-content: center;
}

.buttonStart {
 all: unset;
 border: 1px solid #fff;
 padding: 12px 40px;
}

.containerPomodoro {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 gap: 20px;
 cursor: pointer;
}

.time{
 font-size: 140px;
}

.buttonContainer{
 display: flex;
 gap: 20px;
}

.resetButton {
 all: unset;
 cursor: pointer;
 background-color: #fff;
 border: 1px solid #fff;
 padding: 12px 40px;
 color: #111827;
 transition: all 0.3s ease-in;
}
.resetButton:hover {
 transform: scale(1.1);
}

.buttonStart:hover {
 transform: scale(1.1);
}

.break{
 background-color: #10B981;
}

.work {
 background-color: #111827;
}